<div class="container cart-payment">
  <div class="row">
    <h5 (click)="showCart()">
      <span>
        <i class="fa fa-plus" aria-hidden="true" *ngIf="!showCartItems"></i>
        <i class="fa fa-minus" aria-hidden="true" *ngIf="showCartItems"></i>
      </span>&nbsp;&nbsp;My Cart</h5>
    <div class="container mycart" *ngIf="showCartItems">
      <div class="row">
        <h4 class="text-center"> My Cart</h4>


        <div class="col-md-12 cart-1">
          <div class="cart-item">
            <div class="row items">

              <div class="col-md-3">
                <img src="assets/images/vivo.png" height="140px" width="140px">
              </div>
              <div class="col-md-3">
                <h6>Vivo V9 Plus</h6>
                <p>Details : 64gb, black</p>
                <p class="stoke">In Stoke</p>

              </div>
              <div class="col-md-3">
                <button class="btn btn-icon btn-maroon btn-minus">
                  <span>
                    <i class="fa fa-minus" aria-hidden="true"></i>
                  </span>
                </button>
                <input type="text" value="1" disabled>
                <button class="btn btn-icon btn-maroon btn-plus">
                  <span>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="col-md-3">
                <p class="close-btn">X</p>
              </div>

              <div class="col-md-6 price">
                <h6>Price : $187
                  <span>
                    <strike>$214</strike>
                  </span>
                </h6>

              </div>
              <div class="col-md-6 price">
                <h6>Total : $214

                </h6>
              </div>
            </div>

            <hr>
            <div class="row items">

              <div class="col-md-3">
                <img src="assets/images/vivo.png" height="140px" width="140px">
              </div>
              <div class="col-md-3">
                <h6>Vivo V9 Plus</h6>
                <p>Details : 64gb, black</p>
                <p class="stoke">In Stoke</p>

              </div>
              <div class="col-md-3">
                <button class="btn btn-icon btn-maroon btn-minus">
                  <span>
                    <i class="fa fa-minus" aria-hidden="true"></i>
                  </span>
                </button>
                <input type="text" value="1" disabled>
                <button class="btn btn-icon btn-maroon btn-plus">
                  <span>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="col-md-3">
                <p class="close-btn">X</p>
              </div>

              <div class="col-md-6 price">
                <h6>Price : $187
                  <span>
                    <strike>$214</strike>
                  </span>
                </h6>

              </div>
              <div class="col-md-6 price">
                <h6>Total : $214

                </h6>
              </div>
            </div>
            <hr>
            <div class="row items">

              <div class="col-md-3">
                <img src="assets/images/vivo.png" height="140px" width="140px">
              </div>
              <div class="col-md-3">
                <h6>Vivo V9 Plus</h6>
                <p>Details : 64gb, black</p>
                <p class="stoke">In Stoke</p>

              </div>
              <div class="col-md-3">
                <button class="btn btn-icon btn-maroon btn-minus">
                  <span>
                    <i class="fa fa-minus" aria-hidden="true"></i>
                  </span>
                </button>
                <input type="text" value="1" disabled>
                <button class="btn btn-icon btn-maroon btn-plus">
                  <span>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="col-md-3">
                <p class="close-btn">X</p>
              </div>

              <div class="col-md-6 price">
                <h6>Price : $187
                  <span>
                    <strike>$214</strike>
                  </span>
                </h6>

              </div>
              <div class="col-md-6 price">
                <h6>Total : $214

                </h6>
              </div>
            </div>


          </div>
          <div class="sub-total">
            <p>Sub-Total : $642</p>
            <button class="btn btn-maroon" value="Checkout">Checkout</button>
          </div>
        </div>

      </div>


    </div>
  </div>
  <div class="row">
    <h5 (click)="showAddress()">
      <span>
        <i class="fa fa-plus" aria-hidden="true" *ngIf="!showDeliveryAddress"></i>
        <i class="fa fa-minus" aria-hidden="true" *ngIf="showDeliveryAddress"></i>
      </span>&nbsp;&nbsp;Delivery Address

    </h5>
    <div class="container mycart" *ngIf="showDeliveryAddress">
      <div class="row">
        <h4 class="text-center"> Delivery Address</h4>
        <div class="col-md-12 cart-2">
          <a (click)="addAddress()" *ngIf="showAddresses">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> &nbsp;Add new delivery address</a>
          <div class="row del-address" *ngIf="showAddresses">

            <div class="col-md-6">

              <br/>
              <div>
                <h6>Home</h6>

                <p>Uni Space Business Center, Modern Tech park,
                  <br/> Bangalore
                  <br/> 500038
                </p>
                <p>Ph : 1234567891</p>
              </div>
            </div>
            <div class="col-md-6">
              <button class="btn btn-maroon">Delivery Here</button>
            </div>
          </div>

          <div class="row del-address" *ngIf="showAddresses">

            <div class="col-md-6">

              <br/>
              <div>
                <h6>Office</h6>

                <p>Uni Space Business Center, Modern Tech park,
                  <br/> Bangalore
                  <br/> 500038
                </p>
                <p>Ph : 1234567891</p>
              </div>
            </div>
            <div class="col-md-6">
              <button class="btn btn-maroon">Delivery Here</button>
            </div>
          </div>

          <div class="row addaddress" *ngIf="!showAddresses">
            <div class="col-md-12">

              <form class="details login-fields register-fields">
                <div class="form-group row">
                  <label class="col-sm-4 col-md-4 col-form-label">Full Name
                    <span>:</span>
                  </label>
                  <div class="col-sm-8 col-md-8">
                    <input type="text" class="form-control">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-4 col-md-4 col-form-label">Mobile Number
                    <span>:</span>
                  </label>
                  <div class="col-sm-8 col-md-8">
                    <input type="text" class="form-control">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-4 col-md-4 col-form-label">House No.
                    <span>:</span>
                  </label>
                  <div class="col-sm-8 col-md-8">
                    <input type="text" class="form-control">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-4 col-md-4 col-form-label">City
                    <span>:</span>
                  </label>
                  <div class="col-sm-8 col-md-8">
                    <select class="form-control">
                      <option></option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-4  col-md-4 col-form-label">state
                    <span>:</span>
                  </label>
                  <div class="col-sm-8  col-md-8">
                    <select class="form-control">
                      <option></option>
                    </select>
                  </div>

                </div>

                <div class="form-group row">
                  <label class="col-sm-4  col-md-4 col-form-label">Landmark
                    <span>:</span>
                  </label>
                  <div class="col-sm-8  col-md-8">
                    <input type="text" class="form-control">
                  </div>

                </div>
                <div class="form-group row">
                  <label class="col-sm-4  col-md-4 col-form-label">Pincode
                    <span>:</span>
                  </label>
                  <div class="col-sm-8  col-md-8">
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div>
                  <p>Choose nick name for this address</p>
                  <p class="addresses">
                    <a>Home</a>
                    <a>Office</a>
                    <a>Other</a>
                  </p>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked5">
                    <label class="custom-control-label" for="defaultUnchecked5">Set this as my default address</label>
                  </div>
                </div>
                <div class="form-group row">

                  <div class="col-sm-12 submit text-right">
                    <button class="btn btn-maroon submit" type="submit" (click)="saveAddress()">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" [ngClass]="{'margin':showPaymentMethode || !showPaymentMethode}">
    <h5 (click)="showPayment()">
      <span>
        <i class="fa fa-plus" aria-hidden="true" *ngIf="!showPaymentMethode"></i>
        <i class="fa fa-minus" aria-hidden="true" *ngIf="showPaymentMethode"></i>
      </span>&nbsp;&nbsp;Payment Method

    </h5>
    <div class="container mycart paymentMethode" *ngIf="showPaymentMethode">
      <div class="row">
        <h4 class="text-center"> Payment Method</h4>
        <div class="col-md-12">
          <div>
            <p>Price
              <span>BD : 642.00</span>
            </p>
            <p>delivery Cahrges
              <span>BD : 42.00</span>
            </p>
            <h6>Total Amount Payable
              <span>BD : 640.00</span>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
